/*header {
    position: sticky;
    top: 0px;
    border : 2px solid;
    border-bottom : 2px dashed;
    background-color:lightgray;
    z-index:1;
    text-align : center;
    }*/

main {
    min-height : 450px;
    height:100%;
    right : 5px;
    bottom: 8px;
    padding-left : 200px;
    padding-bottom : 8px;   
    border : 2px solid;
    border-top : none;
    border-bottom : none;
    background-color:gray;  
}

main h2, main p, main h1,span   
{
    margin-left : 20px;
}
/*
footer {
    bottom : 0px;
    border : 2px solid;
    border-top : 2px solid;
    background-color:lightgray;
    position : sticky;
    width:99.7%;
    text-align : center;
    }
*/
nav {
    width:200px;
    height:95%;
    top : 8px;
    background-color:lightgray;
    float: left;
    border-left : 2px solid;
    border-right : 2px dashed;
    position : fixed;
}
/*nav article
{
    margin-top : 130px;
    margin-left : 10px;
}

nav a{
    display: block;
}

ul{
    padding-left : 20px ;
}

li{
    list-style-type: '-';
}
table {
    border: medium solid #0C0F0A;
    border-collapse: collapse;
    width: 50%;
}
th {
    font-family: monospace;
    border: thin solid #0C0F0A;
    width: 25%;
    padding: 5px;
    background-color: #D3D3D3;
}
td {
    font-family: sans-serif;
    border: thin solid #0C0F0A;
    width: 25%;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
}
form
{
    padding-left : 20px ;
}*/